<div class='column is-half'>
<h1 class='title is-5'>Past Events</h1>  
  <% @past_events.each do | event | %>
  <div class='box'>
    <article class='media'>
      <div class='media-left'>
        <figure class='image is-64x64'>
          <%= gravatar_image_tag(event.creator.email, size: 64)%>
        </figure>
      </div>
      <div class='media-content'>
        <div class='content'>
          <p class='title is-3'><%= event.title %></p>
          <p class='subtitle is-5'>@<%= event.location %></p>
          <p><%= event.description %></p>
          <p class='date'>occured on <%= event.event_date %></p>
          <small>hosted by</small><br />
          <strong><%= event.creator.email %></strong><br />
          <p><%= event.attendees.count %> guests went</p>
          <%= link_to 'see event', event_path(event), method: :get, class: 'button is-info' %>
        </div>
      </div>
    </article> 
  </div>
  <% end %>
</div>   